<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="id=edge,chrome=1" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Subscription</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css" />
  </head>
  <body>
    <div class="admin-body">
      <table>
        <caption>List of Customer</caption>
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Brith Date</th>
            <th scope="col">Cell Number</th>
            <th scope="col">Subscription</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td data-label="fullName">Visa - 3412</td>
            <td data-label="email">04/01/2016</td>
            <td data-label="brithday">$1,190</td>
            <td data-label="number">+6588999314</td>
            <td data-label="subscription">03/01/2016 - 03/31/2016</td>
            <td data-label="action">
              <a>switch</a> |
              <a>cancle</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>

  <script type="text/javascript">
    //
  </script>


</html>
