<link rel="stylesheet" type="text/css" href="/css/admin.css" />
<table>
  <caption>List of Customer</caption>
  <thead>
    <tr>
      <th>ID</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Brith Date</th>
      <th>Cell Number</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    {{#list}}
      <tr>
        <td>{{id}}</td>
        <td>{{full_name}}</td>
        <td>{{email}}</td>
        <td>{{birthday}}</td>
        <td>{{mobile}}</td>
        <td>
          <a href="#" id="switchBtn" onclick="switchPlan('{{id}}')">switch</a> |
          <a href="#" id="cancelBth" onclick="cancelClick('{{id}}')">cancel</a>
        </td>
      </tr>
    {{/list}}
  </tbody>
</table>
<script type="text/javascript">
 function cancelClick (id) {
  fetch('/cancel',
    {
      method: 'POST',
      headers: {
        'content-type': 'application/json'
      },
      body: JSON.stringify({id: id})
    }).then(res => {
      if (res.status === 200) {
        location.href = `http://${location.host}/admin`
      }
    }).catch(err => {
      console.log(err)
    })
 }
</script>
