<link rel="stylesheet" type="text/css" href="/css/register.css" />
<div class="signIn-body">
  <div class="register-input">
    <label>Email</label>
    <input id="email"/>
  </div>
  <div class="register-input">
    <label>Password</label>
    <input id="password" type="password"/>
  </div>
  <button class="register-btn" onClick='login()'>Login</button>
  <div class="register-link">
    <p>Don't have our account yet?</p>
    <a href="/views/register.html">Sign Up</a>
  </div>
</div>

<script type="text/javascript">
  function login () {
    var params = {}
    var email = params.email = document.getElementById('email').value.trim()
    var password = params.password = document.getElementById('password').value.trim()
    if (!email || !password) {
      return alert('email and password is required!')
    }

    fetch('/login',
      {
        body: JSON.stringify(params),
        method: 'POST',
        headers: {
          'content-type': 'application/json'
        }
      }).then(res => {
        if (res.status === 401) {
          return alert('User does not exsit!')
        } else if (res.status === 402) {
          return alert('Wrong password!')
        } else if (res.status === 200) {
          res.json().then((json) => {
            location.href = json.redirect
          })
        }
      }).catch(err => {
        console.log(err)
      })
  }
</script>

